<div class="row">

<div class="col-md-9">
  {{pie-chart data=chartData maxNumberOfSlices=100 minSlicePercent=0 sortKey='label'}}
</div>

<div class="col-md-3">
  <form>
    <div class="form-group">
      {{select-2 content=model.gcs value=filterByGC optionLabelPath='name' placeholder="Filter by Grand Company" allowClear=true}}
    </div>
    <div class="checkbox">
      <label>
        {{input type='checkbox' checked=splitByRank}}
        Split by Rank
      </label>
    </div>
  </form>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th width="10%">Members</th>
      </tr>
    </thead>
    <tbody>
      {{#each tableData as |gc|}}
      <tr>
        <td class="one-link">{{#link-to 'grand-companies.show' gc}}{{gc.name}} <small class="show">{{gc.rank_name}}</small>{{/link-to}}</td>
        <td>{{gc.num_characters}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>

</div>
