<div class="row">

<div class="col-md-9">
  {{character-table model=model page=page}}
</div>

<div class="col-md-3">
  <h3 class="nothing-above">Filter</h3>
  <form {{action 'filter' on='submit'}}>
    <div class="form-group">
      {{input type=text value=uiSearch placeholder="Search" class='form-control'}}
    </div>
    <div class="form-group">
      {{select-2 content=races value=uiRace optionLabelPath='name' placeholder="Race" allowClear=true}}
    </div>
    {{#if uiRace}}
    <div class="form-group">
      {{select-2 content=clans value=uiClan optionLabelPath='name' placeholder="Clan" allowClear=true}}
    </div>
    {{/if}}
    <div class="form-group">
      {{select-2 content=genders value=uiGender optionLabelPath='name' placeholder="Gender" allowClear=true}}
    </div>
    <div class="form-group">
      {{select-2 content=servers value=uiServer optionLabelPath='name' placeholder="Server" allowClear=true}}
    </div>

    <button class="btn btn-default btn-block" {{action 'clear'}}>Clear</button>
    <button type="submit" class="btn btn-primary btn-block">Apply</button>
  </form>
</div>

</div>
