<div class="page-header">
  <h1>
    {{model.first_name}} {{model.last_name}}
    {{#if model.title}}<small>&lt;{{model.title.name}}&gt;</small>{{/if}}
  </h1>
</div>

<div class="col-md-4">
  <dl class="dl-horizontal">
    <dt>World</dt>
    <dd>{{#link-to 'servers.show' model.server}}{{model.server.name}}{{/link-to}}</dd>
    <dt>Race</dt>
    <dd>{{model.race.name}}</dd>
    <dt>Clan</dt>
    <dd>{{model.clan_name}}</dd>
    <dt>Grand Company</dt>
    <dd>{{model.gc.name}}</dd>
    <dt>Grand Company Rank</dt>
    <dd>{{model.gc_rank}}</dd>
    <dt>Free Company</dt>
    <dd>{{model.fc.name}}</dd>
  </dl>

  <hr />

  <a href="http://na.finalfantasyxiv.com/lodestone/character/{{model.lodestone_id}}/" class="btn btn-default btn-block">Lodestone</a>
</div>

<div class="col-md-8">
  <h3>Classes</h3>
  <div class="panel panel-default">
    <table class="table">
      <thead>
        <tr>
          <th>Class</th>
          <th>Level</th>
          <th class="text-right">Progress</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        {{#each sortedLevels as |level|}}
        <tr>
          <td>{{level.job.name}}</td>
          <td>{{level.level}}</td>
          <td class="text-right">{{level.exp_at}}/{{level.exp_of}}</td>
          <td><progress value="{{level.exp_at}}" max="{{level.exp_of}}" /></td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

  <h3>Minions</h3>
  <div class="list-group">
    {{#each model.minions as |minion|}}
    <a href="#" class="list-group-item">{{minion.name}}</a>
    {{/each}}
  </div>

  <h3>Mounts</h3>
  <div class="list-group">
    {{#each model.mounts as |mount|}}
    <a href="#" class="list-group-item">{{mount.name}}</a>
    {{/each}}
  </div>
</div>
